PANTA_API_KEY=pk_live_meXFKJ43wOhvamnZdJ9Sa5bUzg_0octBiUllhI0JqB8
PANTA_API_BASE_URL=https://live-api.panta.market/api/v1
TELEGRAM_BOT_TOKEN=8848852468:AAEQUEvXgfNSUmypYEu6jnnZIiirEMK6Wuw
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
ENCRYPTION_KEY=09c5d8720ccf82240234c2fb378b7a4a65562e4290eff8d8900a985a0749f777
DATABASE_URL=postgresql://pinkpanta_user:1OmPzV1U9ejmRgcn3jYqCmV5GhforsYl@dpg-dar7b5rtqb8s73fqbl50-a/pinkpanta
NODE_ENV=development
PORT=3000
